IndentWidth: 4
BasedOnStyle: LLVM
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 100

BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent